@font-face {
  font-family: "Poppins-Regular";
  src:  local("poppins-regular"),
        url('/src/assets/fonts/Poppins/Poppins-Regular.ttf') format("ttf");
        url('/src/assets/fonts/Poppins/Poppins-Regular.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TitiliumWeb-Bold";
  src: local("titiliumweb-bold"),
       url('/src/assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}
