/* Color Theme Swatches in Hex */
$Text-hex: #E0DCFC;
$Background-hex: #494552;
$Principal-Palette-1-hex: #313641;
$Principal-Palette-2-hex: #563296;
$Principal-Palette-3-hex: #49366B;
$Principal-Palette-4-hex: #C7B3EF;


/* Color Theme Swatches in RGBA */
$Text-rgba: rgba(224,220,252, 1);
$Background-rgba: rgba(73,69,82, 1);
$Principal-Palette-1-rgba: rgba(49,54,65, 1);
$Principal-Palette-2-rgba: rgba(86,50,150, 1);
$Principal-Palette-3-rgba: rgba(73,54,107, 1);
$Principal-Palette-4-rgba: rgba(199,179,239, 1);
